body {
    background-image: url('img/water.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}


.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-center {
    margin-top: 20px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
